.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 60px);
}

.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 0 8px;
}

.filme-info h1 {
    margin: 14px 0;
}
.filme-info img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    border-radius: 8px;
}

.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;
    text-align: justify;
}

.filme-info .div-genero {
    display: flex;
    align-items: center;
    margin-top: 2px;
    flex-wrap: wrap;
}

.filme-info .genero {
    padding: 4px 6px;
    color: #FFF;
    margin: 0 3px 3px 0;
    background-color: black;
    border-radius: 4px;
}

.filme-info .area-buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #F0F0F0;
}
.filme-info .area-buttons button:hover {
    background-color: #73a2c7;
    color: #FFF;
}

.filme-info .area-buttons a {
    text-decoration: none;
    background-color: #F0F0F0;
    color: #000;
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
}

.filme-info .area-buttons a:hover {
    background-color: #73a2c7;
    color: #FFF;
}